.menu{
    display: inline-block;
    padding: .5em .1em;
    font-size: 24px;
    cursor: pointer;
}

.menu:hover,
.menu:focus{
    opacity: .9;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    background: white;
    border-radius: 30px;
    height: 3px;
    position: relative;
    transition: transform .5s ease;
}

.hamburger::before,
.hamburger::after {
    content: '';
    padding: 0 12px;
}

.hamburger::before {
    transform: translateY(-7px);
}

.hamburger::after {
    transform: translateY(4px);
}

/* Designing the close menu icon */

.menu.close-menu {
    transform: rotate(45deg);
    transition: transform .5s ease;
} 

.menu.close-menu > .hamburger{
    background: $primary-clr;
    opacity: .5;
}

.menu.close-menu > .hamburger:before,
.menu.close-menu > .hamburger:after{
    transform: rotate(90deg);
    background: $primary-clr;
    transition: none;
}

.menu.close-menu > .hamburger:after{
    bottom: 3px;
}

.navbar{
    position: absolute;
    z-index: 1;
    width: 100%;
    padding: 3em 1em;
    
    ul{
        align-self: center;
        display: flex;
        flex-direction: row;
        width: 75%;
        justify-content: space-around;
    }
    a{  
        color: $secondary-clr;
        padding: .35em;
        text-transform: lowercase;
    }
    h2{
        font-size: 25px;
        color: white;
        margin-bottom: 0;
    }
}

.navbar-header{
    display: flex;
    justify-content: space-between;
    width: 57%;
    margin-left: 1.5em;
    max-height: 30px;

    .menu,h2{
        align-self: center;
    }
}

.navbar-nav{
    position: absolute;
    right: 0;
    top: 3.5em;
    visibility: hidden; 
    
    .active{
        color: $extra-clr;
    }
    a:hover{
        text-decoration: none;
    }

    li::after{
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: $extra-clr;
        transition: width .5s;
    }
    li:hover::after{
        width: 100%;
        transition: width .5s;
    }
}

.showNav-links{
    background: #fff;
    
    .navbar-header{
        h2{
           display: none;
        } 
    }
    .navbar-nav{
        visibility: visible;
    }
}